.red{
    color: rgb(33, 5, 60);
    font-size: xx-large;
}
.yellow{
    background-color: bisque;
}
.green{
    color: rgb(51, 31, 2);
    font-size: xx-large;
}
.orange{
    background-color: aquamarine;
}